@font-face {
    font-family: 'Quicksand';
    src: url(/fonts/Quicksand/Quicksand-Bold.ttf);
    font-weight: bold;
    font-style: bold;
  }
@font-face {
    font-family: 'Quicksand';
    src: url(/fonts/Quicksand/Quicksand-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DynaPuff';
    src: url(/fonts/DynaPuff/DynaPuff-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}
  
  

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Quicksand';
    font-weight: bold;
}

.encabezado{
    overflow: hidden;
    background-color: #e3ceff;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}

.encabezado header{
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}

.encabezado header .nombre a{
    font-family: 'Quicksand';
    font-weight: normal;
    font-size: 37px;
    color: #ab8cf5;
    text-decoration: none;
}

.encabezado header ul{
    display: flex;
    list-style: none;

}


.encabezado header nav ul li a{
    text-align: none;
    color: black;
    margin: 0 15px;
    padding: 3px;
    transition: .5s;
    text-decoration: none;
}

.encabezado header nav ul li a:hover{
    color: #ab8cf5;
}

.menu-responsive{
    background-color: #ad8ef5;
    color: black;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}

/*INICIO*/
.inicio{
    background-image: linear-gradient(to top, rgba(30, 6, 119, 0.8), rgb(195, 137, 243)),
    url(/img/fondo.png);
    background-size: cover;
    height: 100vh;
    color: #000000;
    display: flex;
    align-items: center;
}
.inicio .apertura{
    padding: 20px;
    background-color: #e3ceff;
    max-width: 350px;
    margin: auto;
    text-align: center; 
    border-radius: 40px;
}
.inicio .apertura img{

    margin-top: 40px;
    border: 10px solid #ab8cf5;
    display: block;
    width: 80%;
    margin: auto;
    border-radius: 100%;
}
.inicio .apertura h1{
    margin-top: 40px;
    font-size: 42px;
    font-family: 'Quicksand';
    font-weight: bold;

}
.inicio .apertura h2{
    font-size: 15px;
    font-weight: normal;

}
.inicio .apertura .rrss a{
    color: #4c2c61;
    display: inline-block;
    text-align: none;
    border: 1px solid #4c2c61;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: .3s;

}

.inicio .apertura .rrss a:hover{
    background-color: #ab8cf5;

}

/*SOBRE MI*/

.sobremi{
    background-color: #e3ceff;
    color: #000000;
    padding: 50px 20px;
}
.sobremi .contenido-sobremi{
    max-width: 1100px;
    margin: auto;
    
}

.sobremi h2{
    font-size: 35px;
    font-family: 'DynaPuff';
    text-align: center;
    padding: 20px 0;
}

.sobremi .contenido-sobremi p{
    font: 18px;
    font-family: 'Quicksand';
    line-height: 22px;
    margin-bottom: 20px;
}


.contenido-sobremi h3{
    background-color: #e3ceff;
    font-size: 25px;
    font-family: 'DynaPuff';
    text-align: center;
    padding: 20px 0;
    margin-bottom: 0;

}

.contenedor-intereses{
    background-color: #e3ceff;
    color: #000000;
    padding: 50px 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-items: center;
    margin-top: 0px;
}

.intereses {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ab8cf5;
    padding: 15px;
    border-radius: 8px;
    font-size: 1rem;
    transition: transform 0.3s ease;
  }
  
.intereses:hover {
    transform: scale(1.05);
    cursor: pointer;
}
  
.intereses i {
    font-size: 24px;
    margin-bottom: 8px;
    color: #4c2c61;
}

  /*CURRICULUM*/

.curriculum{
    background-color: #e3ceff;
}

.contenido-curriculum{
    max-width: 1100px;
    margin: auto;
    text-align: center;
}

.bloque-cv {
    background-color: #c59dfa;
    color: #000000;
    border-radius: 15px;
    margin-bottom: 30px;
    box-shadow: 0 4px 8px rgba(76, 44, 97, 0.2);
    transition: transform 0.3s ease;
    text-align: left;
    padding-left: 20px;
    list-style-position: inside;
}

.curriculum .contenido-curriculum h2{
    background-color: #e3ceff;
    font-size: 35px;
    font-family: 'DynaPuff';
    text-align: center;
    padding: 20px 0;
    
} 

.contenido-curriculum h3{
    background-color: #e3ceff;
    font-size: 25px;
    font-family: 'DynaPuff';
    text-align: center;
    padding: 20px 0;
    margin-bottom: 0;
    border-radius: 15px;
} 

