@font-face {
    font-family: 'Quicksand';
    src: url(/fonts/Quicksand/Quicksand-Bold.ttf);
    font-weight: bold;
    font-style: bold;
  }
@font-face {
    font-family: 'Quicksand';
    src: url(/fonts/Quicksand/Quicksand-Regular.ttf));
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DynaPuff';
    src: url(/fonts/DynaPuff/DynaPuff-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}
  
  

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Quicksand';
    font-weight: bold;
}

.encabezado{
    overflow: hidden;
    background-color: #e3ceff;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}

.encabezado header{
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}

.encabezado header .nombre a{
    font-family: 'DynaPuff';
    font-weight: normal;
    font-size: 37px;
    color: #bf91c4;
    text-decoration: none;
}

.encabezado header ul{
    display: flex;
    list-style: none;

}


.encabezado header nav ul li a{
    text-align: none;
    color: black;
    margin: 0 15px;
    padding: 3px;
    transition: .5s;
    text-decoration: none;
}

.encabezado header nav ul li a:hover{
    color: #9736e7;
}

.menu-responsive{
    background-color: #ffb5da;
    color: black;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}

/*INICIO*/
.inicio{
    background-image: linear-gradient(to top, rgba(57, 7, 99, 0.8), rgb(212, 176, 241)),
    url(/img/fondofhd.jpg);
    background-size: cover;
    height: 100vh;
    color: #000000;
    display: flex;
    align-items: center;
}
.inicio .apertura{
    padding: 20px;
    background-color: #d6b7e7;
    max-width: 350px;
    margin: auto;
    text-align: center;
    border-radius: 40px;
}
.inicio .apertura img{

    margin-top: 40px;
    border: 10px solid #4c2c61;
    display: block;
    width: 80%;
    margin: auto;
    border-radius: 100%;
}