@font-face {
    font-family: 'DynaPuff';
    src: url('DynaPuff-Regular.woff2') format('woff2'),
        url('DynaPuff-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

